@keyframes anim-001-bg {
   0%   { background-color: $brand-primary; }
  /* 10%   { background-color: #1fe600; } */
  20%   { background-color: #E63D00; }
  /* 30%   { background-color: #0058e6; } */
  40%   { background-color: #E6B400; }
  /* 50%   { background-color: #b8e600; } */
  60%   { background-color: #E60036; }
  /* 70%   { background-color: #e69600; } */
  80%   { background-color: #DBE600; }
  /* 90%   { background-color: #00e6cb; } */
  100%  { background-color: $brand-primary; }
}

.anim-001 {
  position: relative;
  width:    100%;
  height:   100%;
  animation-name: anim-001-bg;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  color:    #ffffff;
}

@keyframes anim-002-rocket {
   0% { bottom: 0;   top: 90%; }
 100% { bottom: 100%; top:  -10%; }
}

.anim-002 {
  position: relative;
  width:    100%;
  height:   100%;
  background-color: #000;
  color:    #ffffff;
  #rocket {
    position: fixed;
    left:     $sidebar-width;
    right:    0;
    bottom:   0;
    width:    56px;
    margin:   0 auto;
    animation-name: anim-002-rocket;
    animation-duration: 10s;
    animation-timing-function: ease-in;
    text-shadow: 0 0 10px orange;
    i.fa-rocket {
      transform: rotate(-45deg);
      color: #ffffff;
    }
  }
}

