#index {
  background-color: $brand-primary;
  background-image: radial-gradient(lighten($brand-primary, 24%) 0, $brand-primary 75%);
  color: #ffffff;
  height: 100%;
  .content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    .flex-item {
      .title {
        text-shadow: 0 0 6px #afafaf;
      }
    }
  }
}
