ul.sidebar-nav {
  margin:  0;
  padding: 0;
  position: relative;
  width:   100%;
  height:  100%;

  li {
    list-style: none;
    color: $sidebar-color;
    text-indent: 20px;
    line-height: 40px;

    a {
      color: #ffffff;
      &:hover,
      &:active,
      &:focus {
        color: #ffffff;
        background-color: none;
        text-decoration: none;
      }
    }

    &.sidebar-brand {
      padding: 32px 0;
      text-indent: 0;
      text-align: center;
      line-height: inherit;
      text-shadow: 0 0 6px #afafaf;
      font-weight: bold;
    }
  }
}
