extends ../layouts/content

block variables
  - var title       = "Periodic background color transition"
  - var description = "A example page for changing the background periodically using @keyframes which is the css3 animation features."
  - var outerClass  = "anim-001"

block menus
  include menus

block sidebar
  include sidebar
  
block content
  .row-fluid
    .page-header.content.col-lg-12
      h1 Periodic Background Color Transition

  .row-fluid
    .content.col-lg-12
      p
        | This page uses the <code>@keyframes</code> of css3 features.
