extends ../layouts/content

block variables
  - var title = "Periodic background color transition"
  - var outerClass = "anim-001"

block sidebar
  include sidebar
  
block content
  .row-fluid
    .page-header.content.col-lg-12
      h1 Periodic Background Color Transition

  .row-fluid
    .content.col-lg-12
      p
        | This page uses the <code>@keyframes</code> of css3 features.
