extends ../layouts/content

block variables
  - var title = "Rocket"
  - var outerClass = "anim-002"

block sidebar
  include sidebar
      
block content
  .row-fluid
    .page-header.content.col-lg-12
      h1 Rocket

  .row-fluid
    .content.col-lg-12
      p
      #rocket
        i.fa.fa-rocket.fa-4x
