extends ../layouts/content

block title
 | Rocket

block sidebar
  include sidebar
  
block content
  .anim-002.container-fluid
    .row-fluid
      .page-header.content.col-lg-12
        h1 Rocket

    .row-fluid
      .content.col-lg-12
        p
    #rocket
      i.fa.fa-rocket.fa-4x
