extends ../layouts/content

block variables
  - var title       = "Rocket"
  - var description = ""
  - var outerClass  = "anim-002"

block menus
  include menus

block sidebar
  include sidebar
      
block content
  .row-fluid
    .page-header.content.col-lg-12
      h1 Rocket

  .row-fluid
    .content.col-lg-12
      #like-a-moon
      #rocket
        i.fa.fa-rocket.fa-4x
