extends layouts/default

block content
  #index.row-fluid.page-content
    .content.col-lg-12
      .flex-item
        h1.title.text-center
          i.fa.fa-css3.fa-3x
          br
          | playground
        ul.nav
          li
            a(href='gradient/index.html') gradient
          li
            a(href='animation/index.html') animation
          li
            a(href='misc/index.html') misc
