nav.navbar.navbar-default.header
  .container-fluid
    .navbar-header
      button(type='button', data-toggle='collapse', data-target='#menus', aria-expanded='false').navbar-toggle.collapsed
        span.icon-bar
        span.icon-bar
        span.icon-bar

      a(href='/css3playground').navbar-brand
        i.fa.fa-css3.fa-lg

    #menus.collapse.navbar-collapse
      yield
