extends ../layouts/content

block variables
  - var title       = "Gradients has Inclination."
  - var description = "This page uses the linear-gradient which is one of the css3 gradients features."
  - var outerClass  = "gradient-003"

block menus
  include menus

block sidebar
  include sidebar

block content
  .row-fluid
    .page-header.content.col-lg-12
      h1 Gradients has Inclination.

  .row-fluid
    .content.col-lg-12
      p
        | This page uses the <code>linear-gradient</code> of css3 features.
 
