ul.sidebar-nav
  include ../shared/sidebar_brand
  li
    a(href='index.html')
      | Striped Background

  li
    a(href='two-tone.html')
      | 2-tone Background

  li
    a(href='inclination.html')
      | Inclination

  li
    a(href='gingham.html')
      | Gingham
