extends ../layouts/content

block title
 | 2-tone Background using Gradient.

block sidebar
  include sidebar

block content
  .gradient-002.container-fluid
    .row-fluid
      .page-header.content.col-lg-12
        h1 2-tone Background using Gradient.

    .row-fluid
      .content.col-lg-12
        p
          | This page uses the <code>linear-gradient</code> of css3 features.
 